*{font-family: sans-serif}
#demo{
    background-color: plum;
}
#main{
    background-color: #bdbdbf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2em;
}
#title{
    display: flex;
    align-items:center;
}
#calender{
    display: flex;
    align-items:center;
}
#calender #previous, #next{
    font-size: xx-large;
    font-weight: bolder;
    color: black;
}
#calender table{
    background-color: #DEEDDD;
    border:1px solid black;
    text-align: center;
}
#calender table td{
    border:1px solid black;
    width: 5vw;
    height: 5vh;
}
#next, #previous{cursor: pointer;}